@model IEnumerable<eCommerce.Models.SM_Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBackend.cshtml";
}

<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá
        </th>
        <th>
            Giá Discount
        </th>

        <th>
            Hình
        </th>

        <th>
            Ngày đăng
        </th>

        <th>
            Trạng thái
        </th>
    </tr>

  
        @*<tr class="@(item.Status_ID == 3 ? "success" : "") @(item.Status_ID == 1 ? "warning" : "") @(item.Status_ID == 2 ? "info" : "") @(item.Status_ID == 4 ? "danger" : "")">*@
      @foreach (var item in Model)
      {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Discount</td>

            <td>@item.Images</td>

            <td>@item.CreateDate</td>

            <td>@item.Status</td>
        </tr>
      }
    
</table>

